//
//  {{ prefix }}{{ module_info.name }}{{ module_info.file_name }}
//  {{ module_info.project_name }}
//
//  Created by {{ developer.name }} on {{ date }}.
//  Copyright © {{ year }} {{ developer.company }}. All rights reserved.
//

import UIKit

struct {{ module_info.name }}ModuleConfigurator {

    func assembleModule() -> {{ module_info.name }}ViewController {
        let viewController = {{ module_info.name }}ViewController()
        configure(viewController: viewController)
        return viewController
    }

    func assembleModule(with storyBoardName: String) -> {{ module_info.name }}ViewController {
        let storyboard = UIStoryboard(name: storyBoardName, bundle: .main)
        let viewController = storyboard.instantiateInitialViewController() as! {{ module_info.name }}ViewController
        configure(viewController: viewController)
        return viewController
    }

    private func configure(viewController: {{ module_info.name }}ViewController) {

        let router = {{ module_info.name }}Router()

        let presenter = {{ module_info.name }}Presenter()
        presenter.view = viewController
        presenter.router = router

        let interactor = {{ module_info.name }}Interactor()
        interactor.output = presenter

        presenter.interactor = interactor
        viewController.output = presenter
    }

}
