//
//  {{ module_info.name }}{{ module_info.file_name }}
//  {{ module_info.project_name }}
//
//  Created by {{ developer.name }} on {{ date }}.
//  Copyright © {{ year }} {{ developer.company }}. All rights reserved.
//



import UIKit

// MARK: View input protocol

protocol {{ module_info.name }}ViewInput: class {

    /**
        @author {{ developer.name }}
        Setup initial state of the view
    */

    func setupInitialState()
}

// MARK: View controller that implements viewinput protocol

class {{ module_info.name }}ViewController: UIViewController {

    var output: {{ module_info.name }}ViewOutput!

    // MARK: Life cycle
    override func viewDidLoad() {
        super.viewDidLoad()
        view.backgroundColor = .white
        output.viewIsReady()
    }

}

extension {{ module_info.name }}ViewController:  {{module_info.name}}ViewInput {

    // MARK: {{module_info.name}}ViewInput
    func setupInitialState() {
    }

}