//
//  {{ module_info.name }}{{ module_info.file_name }}
//  {{ module_info.project_name }}
//
//  Created by {{ developer.name }} on {{ date }}.
//  Copyright © {{ year }} {{ developer.company }}. All rights reserved.
//

class {{ module_info.name }}Presenter: {{ module_info.name }}ModuleInput {

    weak var view: {{ module_info.name }}ViewInput!
    var interactor: {{ module_info.name }}InteractorInput!
    var router: {{ module_info.name }}RouterInput!

}

extension {{ module_info.name }}Presenter: {{ module_info.name }}ViewOutput {
    func viewIsReady() {
        view.setupInitialState()
    }
}

extension {{ module_info.name }}Presenter: {{ module_info.name }}InteractorOutput {

}


// MARK: ViewController output protocol

protocol {{ module_info.name }}ViewOutput {

    /**
        @author {{ developer.name }}
        Notify presenter that view is ready
    */

    func viewIsReady()
}
